* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Sans-Serif, Arial !important;
    transition: all 0.3 ease;
    background-color: rgb(218, 235, 245);
  }

  body,
  html {
    height: 100%;
  }

  img {
    max-width: 100%;
  }

  h1{
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .container{
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;

  }
  .box{
    width: 70%;
    
    margin: 0 auto;
    
  }

  .floatleft {
    float: left;
  }
  .floatright {
    float: right;
  }
  .Title h1{
    padding: 10px;
    border: 5px solid #71564e;
    text-align: center;
    text-transform: uppercase;
  }
  .Title{
    background-color: rgb(179, 214, 249);
  }
  .Expense-website{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
  }

  .content-left{
    width:40%
  }

  .enter-budget-box,
  .add-expense-box {
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .enter-budget-box {
    border: 3px solid #71564e;
  }
  .add-expense-box {
    border: 3px solid #71564e;
  }

  .content-left label{
    font-size: large;
    font-style: initial;
  }

  input {
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 2px;
    border: none;
  }
  input {
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 2px;
    border: 2px solid black;
  }

  .content-left button {
    padding: 10px 15px;
    background: #aa8f77;
    border: 1px solid;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .content-right {
    width: 59%;
    height: 80vh;
    border: 3px solid #71564e;
    border-radius: 5px;
  }

  .balances {
    padding: 5px;
    margin-bottom: 15px;
    margin-right: -5px;
  }
  .balances .items {
    text-align: center;
    width: 32%;
    display: inline-block;
  }
  .balances .items p {
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .balances .items p,
  .logo {
    margin-bottom: 10px;
  }

  .expenses table {
    text-align: center;
    border: 3px solid #71564e;
    padding: 2px 0;
    width: 100%;
  }
  .expenses {
    padding: 5px;
    font-size: 14px;
  }
  .expenses table td {
    padding: 8px;
    font-size: 12px;
    width: 5%;
  }
  #expense-list {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    height: 210px;
    overflow-y: scroll;
  }

  .expenses table th{
    padding: 8px;
    font-size: 12px;
  }
  
  .budget-amount,
  .balance-amount,
  .expenses-amount {
    font-size: 30px;
    font-weight: bold;
  }

  #currency {
    margin-bottom: 20px;
  }
  

  .header {
    display: flex;
    font-size: 30px;
    justify-content: center;
    background-color: #71564e;
    padding: 10px 0;
  }
  
  .nav-header {
    display: flex;
    align-items: center;
    
    gap: 10px;
  }
  .nav-header .logo-header img {
    width: 40px;
    border-radius: 50%;
  }
  nav ul {
    color: white;
    list-style-type: none;
    display: flex;
    
    gap: 10px;
    
  }
  nav ul li {
    opacity: 100%;
    color: black;
    font-size: 18px;
    border: 3px solid #ffffff;
    border-radius:5px;
    padding: 6px 12px;
  }
  
  nav ul li:hover {
    opacity: 70%;
    cursor: pointer;
    color: rgb(179, 214, 249);
  }
  
  .hero-img-container {
    width: 100%;
    height: auto;
  }
  
  .hero-img {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    .content-left,
    .content-right {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 768px) {
    
    .box {
      width: 100%;
      padding: 10px;
    }
    
  }
  
  









